#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(70, 57, 57);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

#topBtn:hover {
    background-color: #555;
  }